services:
  postgres:
    image: postgres:16
    container_name: buildpilot_postgres
    restart: always
    environment:
      POSTGRES_USER: buildpilot
      POSTGRES_PASSWORD: buildpilot@#$9583
      POSTGRES_DB: buildpilot_db
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  redis:
    image: redis:7-alpine
    container_name: buildpilot_redis
    restart: always
    ports:
      - "6379:6379" 
   
  backend:
    build: ./backend
    ports:
      - "3000:3000"
    depends_on:
      - postgres
      - redis
    environment:
      DATABASE_URL: postgresql://buildpilot:buildpilot@postgres:5432/buildpilot_db
      REDIS_URL: redis://redis:6379
      PORT: 3000
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
  
  frontend:
    build: ./client
    ports:
      - "3001:3001"
    depends_on:
      - backend

volumes:
  pgdata:
